<h1>Article Details</h1>
<p><%= @article.title %></p>
<p><%= @article.body %></p>

<%= link_to 'Update Article', edit_article_path(@article) %>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  Buggy
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

 <%= button_to "Destroy", @article, method: :delete, form: { data: {turbo_confirm: 'Are you sure?'} } %>